@font-face {
  font-family: "kuromi-font";
  src: url("fonts/kuromi-font.woff") format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "kuromi-font";
  background-color: pink;
  background-image: url("Pumpkin-Pie.png");
}

#audio-player {
  background-color: white;
  border: 3px solid transparent;
  border-image-source: url("little-border.png");
  border-image-repeat: repeat;
}

#deltarune {
  background-color: black;
  color: white;
  border: 3px solid transparent;
  border-image-source: url("deltarune.png");
  border-image-repeat: repeat;
}

#game {
  background-color: cyan;
  border: 3px solid transparent;
  border-image-source: url("crk-border.png");
  border-image-repeat: repeat;
}

#about {
  background-color: purple;
  color: white;
  border: 3px solid transparent;
  border-image: url("kuromi.png");
}
